* {
    box-sizing: border-box;
}

body {
    margin: 10%;
    color: black;
    padding-top: 10%;
    background-image: url("siimage.jpg");
    background-size: cover;
    background-position: center;
}   


.card{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.491);
}

.title{
    color:crimson;
    font-weight: 600;
    padding: 1%;
    background-color: rgba(169, 169, 169, 0.692);
    border-radius: 20px 20px 0px 0px;

}

.card-body{
    font-weight: 450;
    font-size: 22px;
}
