*{
    padding:0%;
    margin:0%;
}

body{
    background-color:black;
}



.container{
    margin: 5%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.card-body,.card-title,.card-text{
    background-color: whitesmoke;
}

.card-body{
    padding: 5%;
    border-radius: 10px;
}

.card-body:hover{
    padding: 5%;
    transform: scale(1.2);
    border-radius: 15px;
}