* {
    color: black;
}

body {
    background: url('food.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 90%;
    text-align:left;
    padding:10%;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.868);
    border-radius: 250px;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

h1{
    color: crimson;
    font-size: 3rem;
    padding:5%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-top:0% ;
}

.content{
    padding: 5%;
    padding-left: 8%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 16px;
    font-weight: 500;
}

input{
    border-radius: 6px;
}

.login{
    text-decoration: none;
    color: black;
}

.login:hover{
    color:crimson;
    text-decoration: underline;
}